[submodule "3rdparty/ps-lite"]
	path = 3rdparty/ps-lite
	url = https://github.com/bytedance/ps-lite
	branch = byteps
[submodule "3rdparty/gossip"]
	path = byteps/sparse/gossip
	url = https://github.com/Funatiq/gossip
	branch = master
