include */* LICENSE byteps.lds byteps.exp
recursive-include * *.cc *.h
prune .git
prune dist
prune bin
prune __pycache__
prune 3rdparty
graft 3rdparty/ps-lite
prune 3rdparty/ps-lite/build
prune 3rdparty/ps-lite/deps
exclude 3rdparty/ps-lite/tests/test_benchmark
exclude 3rdparty/ps-lite/tests/test_benchmark.d
exclude 3rdparty/ps-lite/tests/test_ipc_benchmark
exclude 3rdparty/ps-lite/tests/test_ipc_benchmark.d

include pre_setup.py pre_setup_local.py zeromq-4.1.4.tar.gz ucx.tar.gz
